<ion-header>
  <ion-toolbar>
    <ion-title>Editar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formEditInversion" (ngSubmit)="editInversion()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="productoInversion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="cantidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="valor"></ion-input>
    </ion-item>

    <!-- <ion-item lines="none" *ngIf="campoEsValido('productoInversion')">
      <ion-text color="danger">
        <p *ngIf="hasError('nombre', 'required')">El nombre es obligatorio.</p>
        <p *ngIf="hasError('nombre', 'minlength')">El nombre debe tener al menos 3 caracteres.</p>
      </ion-text>
    </ion-item>
  -->

    <ion-button expand="full" type="submit">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>