<ion-content [fullscreen]="true">
  <div>
    <ion-title class="header"> Bienvenido</ion-title>
  </div>

  <form class="ion-padding" [formGroup]="loginForm">
    <ion-item>
      <ion-input placeholder="username"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="password" type="password"></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>

    <ion-button (click)="login()">Let's Go!</ion-button>

  </form>

</ion-content>