<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="formChangePassword.invalid && formChangePassword.touched">
      <ion-text color="danger">
        <p *ngIf="hasError('newPassword', 'required')">La nueva contraseña es obligatoria.</p>
        <p *ngIf="hasError('newPassword', 'minlength')">La nueva contraseña debe tener al menos 6 caracteres.</p>
        <p *ngIf="hasError('confirmPassword', 'required')">Debes confirmar la nueva contraseña.</p>
        <p *ngIf="formChangePassword.hasError('passwordMismatch')">Las contraseñas no coinciden.</p>
      </ion-text>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!formChangePassword.valid">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>