/* Estilo para los ítems del ion-card */
ion-card {
  margin: 8px;
  /* Espacio entre los ítems */
  text-align: center;
  /* Centrar el texto y el ícono */
}

/* Estilo para el contenido del ion-card */
ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centrar el contenido horizontalmente */
  padding: 16px;
  /* Espaciado interno */
}

/* Estilo para el ícono */
ion-icon {
  font-size: 48px;
  /* Tamaño del ícono */
  margin-bottom: 8px;
  /* Espacio debajo del ícono */
}

/* Estilo para el nombre */
h3 {
  font-size: 16px;
  /* Tamaño del texto */
  margin: 0;
  /* Eliminar margen */
}